.button-container {
    padding-top: 10px;
    padding-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container-button {
    box-sizing: border-box;
    font-family: inherit;
    font-style: normal;
    width: 40px;
}

.user-container {
    padding-top: 2px;
    padding-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    width: 30px;  /* Ajusta este valor según el tamaño deseado */
    height: 30px; /* Ajusta este valor según el tamaño deseado */
  }
  